In [47]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,mean_absolute_error,median_absolute_error, r2_score, root_mean_squared_error

In [48]:
df = pd.read_csv("Total_due_modeling.csv")
df

,TotalDue,SubTotal,TaxAmt,Freight,OrderQty,UnitPrice,ShipMethodID,TerritoryID,CustomerID,OrderDate
0,"23153,2339","20565,6206","1971,5149","616,0984",1,"2024,994",5,5,29825,2011-05-31 00:00:00.000
1,"23153,2339","20565,6206","1971,5149","616,0984",3,"2024,994",5,5,29825,2011-05-31 00:00:00.000
2,"23153,2339","20565,6206","1971,5149","616,0984",1,"2024,994",5,5,29825,2011-05-31 00:00:00.000
3,"23153,2339","20565,6206","1971,5149","616,0984",1,"2039,994",5,5,29825,2011-05-31 00:00:00.000
4,"23153,2339","20565,6206","1971,5149","616,0984",1,"2039,994",5,5,29825,2011-05-31 00:00:00.000
...,...,...,...,...,...,...,...,...,...,...
121312,"34,2219","30,97","2,4776","0,7743",1,"21,98",1,6,15868,2014-06-30 00:00:00.000
121313,"34,2219","30,97","2,4776","0,7743",1,"8,99",1,6,15868,2014-06-30 00:00:00.000
121314,"209,9169","189,97","15,1976","4,7493",1,"21,98",1,6,18759,2014-06-30 00:00:00.000
121315,"209,9169","189,97","15,1976","4,7493",1,"159,00",1,6,18759,2014-06-30 00:00:00.000
121316,"209,9169","189,97","15,1976","4,7493",1,"8,99",1,6,18759,2014-06-30 00:00:00.000

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121317 entries, 0 to 121316
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   TotalDue      121317 non-null  object
 1   SubTotal      121317 non-null  object
 2   TaxAmt        121317 non-null  object
 3   Freight       121317 non-null  object
 4   OrderQty      121317 non-null  int64
 5   UnitPrice     121317 non-null  object
 6   ShipMethodID  121317 non-null  int64
 7   TerritoryID   121317 non-null  int64
 8   CustomerID    121317 non-null  int64
 9   OrderDate     121317 non-null  object
dtypes: int64(4), object(6)
memory usage: 9.3+ MB

In [50]:
ls = ["TotalDue", "SubTotal", "TaxAmt", "Freight", "UnitPrice"]

for i in ls:
    df[i] = df[i].str.replace(',', '').astype(float)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121317 entries, 0 to 121316
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   TotalDue      121317 non-null  float64
 1   SubTotal      121317 non-null  float64
 2   TaxAmt        121317 non-null  float64
 3   Freight       121317 non-null  float64
 4   OrderQty      121317 non-null  int64
 5   UnitPrice     121317 non-null  float64
 6   ShipMethodID  121317 non-null  int64
 7   TerritoryID   121317 non-null  int64
 8   CustomerID    121317 non-null  int64
 9   OrderDate     121317 non-null  object
dtypes: float64(5), int64(4), object(1)
memory usage: 9.3+ MB

In [51]:
cols = ["OrderQty","UnitPrice", "ShipMethodID", "TerritoryID"]
X = df[cols]
y = df['TotalDue']

In [52]:
y.mean()

np.float64(224199756.07965082)

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
X_train.shape, X_test.shape

((84921, 4), (36396, 4))

In [54]:
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
MAE = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
MAE, r2

(np.float64(128247059.32089786), 0.4963813623721257)